{% extends 'base.html' %}

{% load static %}

{% block section %}
   <h2>
       {{ object.first_name }} {{ object.last_name }}
       {% if object.team_id %}
         ( <a href="{% url "team-detail" object.team_id %}">
             {{ object.team }}
           </a> )
       {% endif %}
    </h2>
    <p><strong>comments: </strong>{{ object.comment|default:"no comments" }}</p>

   <a  class="enlace" href="{% url "player-update" object.id %}">Edit</a>
   <a  class="enlace" href="{% url "player-delete" object.id %}">Delete</a>
   <hr>
   
{% endblock section %}

{% block maincontent %}
<div>
 <div>
    <img src="{% static object.photo.url %}" style="width:250px;height:330px" />
    <br>
       <br>
    <p><strong>Height: </strong>{{object.height}}</p>
    <p><strong>Weight: </strong>{{object.weight}}</p>
 </div>
</div>
{% endblock maincontent %} 
