{% extends 'adminlte/base.html' %}

{% block title %}Album Copa América 2024{% endblock %}
{% block bodyclass %} skin-red {% endblock %}
{% block content %}
    <div class="container">
        {% block section %}
        {% endblock section %}
    </div>
    <div class="container">
        {% block maincontent %}
        {% endblock maincontent %}
    </div>
  
{% endblock %}

{% comment %} <!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <title>Copa América 2024</title>
</head>
<body style="background-color:yellow;">
    <h1>Album Copa América 2024</h1>
    <ul>
        <li>
            <a href="{% url 'team-list' %}">Team</a>
        </li>
        <li>
            <a href="{% url 'player-list' %}">Player</a>
        </li>
    </ul>
    <hr>
    <div>
        {% block section %}
        {% endblock section %}
    </div>
    <div>
        {% block maincontent %}
        {% endblock maincontent %}
    </div>
</body>
</html> {% endcomment %}